header{
    display: flex;
    flex-direction: column;
    position: relative;
    padding:  20px 0px  0 24px;
    gap: 51px;
}

.logo{
    display: flex;
    width: 110px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.logoPNG{
    height: 44px;
    width: auto;
}

.close-open{
    position: absolute; 
    right: 27px;
}
.menu{
    display: none;
    width:24px;
    height: 24px;
}
@media  (max-width: 1024px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 12px 30px 0px 30px;
        gap: 12px;
        background-color: var(--sidebar-color);
    }
    .close-open{
        display: none;
    }

    .menu{
        display:block;
    }
    .logo{
        padding-top: 0;
    }
    .logo-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

}
