/* Dropdown container */
.dropdown {
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 155px; 
}

/* Dropdown button */
.dropdown button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    border: 1px solid var(--line-color);
    border-radius: 8px;
    background-color: white;
}

/* Dropdown menu items */
.dropdown-menu {
    position: absolute; /* Position below the button */
    top: 100%;
    left: 0;
    width: 100%;              
    box-sizing: border-box;   
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--line-color);
    font-size: 12px;
    padding: 16px 12px; 
    gap: 12px;
}
