:root{
    --correct-text-color:#3EBC5E;
    --sidebar-color:#132450FF;
    --compare-button-color: #007AFF;
    --text-color:#132450;
    --line-color: #9EB9FF33;
    --profile-icon-color:#9EC8FFFF;
    --option-text-color:#383A48;
    --button-colors:#4571E4;
    --not-activated-button:#888991FF;
    --line-option-bottom:#EDEDED;
    --input-background-color:#F0F7FF;
    --removed-text-color: #FF2D55;
    --added-text-color: #3EBC5E;
    --loading-bar-color:#4571E4FF;
}