.functionalities{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.functionalities > div{
    display: flex;
    align-items: center;

}
.icon{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.arrow{
    width: 16px;
    height: 16px;
    padding: 0 4px;
}
#compare-text{
    background-color: white;
    color: var(--sidebar-color);
    font-weight: bold;
    border-radius: 30px 0 0  30px;
    width: 230px;
    margin-left: -10px;
    padding-left: 10px;

}
#down-arrow{
    display: none;
}
@media (max-width: 1024px) and (min-width:768px){
    .functionalities > div{
        display: none;
    }
    
    #compare-text{
        display: flex;
        border-radius: 0px;
        border: 1px solid var(--line-color);
        width: 100vw;
        padding: 10px 30px 10px 60px;
    }
    #down-arrow{
        display: flex;
        padding-left: 4px;
    }
}