.functionalities{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
.functionalities > div{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--sidebar-color);
    
}
#top{
    border-bottom-right-radius: 16px;

}
#bottom{
    border-top-right-radius: 16px;
}
.icon{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.arrow{
    width: 16px;
    height: 16px;
    padding: 0 4px;
}
#compare-text{
    background-color: white;
    color: var(--sidebar-color);
    font-weight: bold;
    height: 50px;
    border-radius: 30px 0 0  30px;
    width: 230px;
    margin-left: -20px;
    padding-left: 20px;

    
}
#down-arrow{
    display: none;
}
@media (max-width: 1024px) {
    .functionalities > div{
        display: none;
    }
    .functionalities{
        width: 100vw;
    }
    #compare-text{

        left: 0px;
        display: flex;
        border-radius: 0px;
        border-bottom: 1px solid var(--line-color);
        min-height: 72px;
        padding: 0px 30px;
        width: 100%;
        margin:0;
    }
    #down-arrow{
        display: flex;
        padding-left: 4px;
    }

}