.functionalities{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.functionalities > div{
    display: flex;
    align-items: center;

}
.icon{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.arrow{
    width: 16px;
    height: 16px;
    padding: 0 4px;
}
#compare-text{
    background-color: white;
    color: var(--sidebar-color);
    font-weight: bold;
    border-radius: 30px 0 0  30px;
    width: 230px;
    margin-left: -10px;
    padding-left: 10px;

}
