/* Import global variables like colors, fonts, etc. */
@import "./styles/variables.css";

/* Main app container */
.App {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex; 
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Sidebar container */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebar-color);
  color: white;
  width: 240px;
  height: 100%;
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 1024px) {
  /* Stack main container vertically */
  .App {
    flex-direction: column;
  }

  /* Sidebar full width and auto height */
  .sidebar {
    width: 100%;
    height: auto;
    background-color: white; /* Change background on smaller screens */
  }
}
