@import "./styles/variables.css";
.App{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebar-color);
  color: white;
  width: 240px;
  height: 100%;
}