.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 432px;
    width: 100%;
}
.loading{
    width: 246px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid var(--line-color);
    font-weight: bold;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.information{

}
#moving {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 8px;

}

#loading-line {
  background-color: var(--button-colors);
  height: 8px;
  border-radius: 64px;
  width: 0;
  transition: width 0.2s linear;
}

.loading-bar-container {
  flex: 1;
  background-color: var(--line-color);
  border-radius: 64px;
  height: 8px;
  overflow: hidden;
}


