main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    color: var(--option-text-color);
    gap:24px;

}
.options{
    display: flex;
    align-items: center;
    gap:24px;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--sidebar-color);
}
.top{
    display: flex;
    width: 100%;
    padding-bottom: 17px;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-option-bottom);
}
#add-new, #compare-button{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap:4px;
    justify-content: center;
    border-radius: 6px;
    width: 150px;
}
.not {
    background-color:var(--button-colors);
}
.activated{
    background-color: var(--not-activated-button);
}
#add-new img{
    width: 24px;
    height: 24px;
}
#compare-button{
    width: 142px;
    height: 48px;
    border-style: none;
}